<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
   <div class="container">
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email">
            <p class="text-danger" 
            *ngIf="formulario.get('email').hasError('required') && formulario.get('email').touched">Es obligatorio completar este campo. </p>
        </div>
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" formControlName="username">
            <p class="text-danger" 
            *ngIf="formulario.get('username').hasError('required') && formulario.get('username').touched">Es obligatorio completar este campo. </p>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password">
            <p class="text-danger" *ngIf="formulario.get('password').hasError('required') && formulario.get('password').touched">Es obligatorio completar este campo.</p>
        </div>
        <div class="form-group">
            <label>Repite Password</label>
            <input [type]="tipoPassword" class="form-control" formControlName="repite_password">
            <button class="btn btn-secondary" (click)="onClick($event)">👁</button>
            <p class="text-danger"
                *ngIf="formulario.get('repite_password').hasError('passwordValidator') && formulario.get('repite_password').touched">
                Las contraseñas no coinciden.
            </p>
        </div>
        <select class="juegoPreferido"></select><br>
        <select>
            <option value="ps4">Ps4</option>
            <option value="xbox">Xbox One</option>
            <option value="pc">Pc</option>
            <option value="switch">Nintendo Switch</option>
        </select>

        <input type="submit" value="Enviar" [disabled]="formulario.invalid" class="btn btn-block btn-success">
    </div>
    </form>
