@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300;400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');
footer {
    
    padding: 0px 0px;
    color: white;
    text-align: center;
    width: 100%;
    
    font-family: 'Spectral','serif';
    /* margin-bottom: 0; */
    position: absolute;
    
    padding: 1em;
    margin-top: 3em;
    top: 100%
}

footer a {
    color: white;
}

footer a:hover {
    text-decoration: none;
    color: var(--color-principal);
}

i{
    color: var(--color-principal);
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 35px;
    padding: 0px;
}
.volverInicio i{
    transition: 0.5s;
}
.volverInicio:hover i {
    transform: translateY(-5px);
}
