@import url(https://allfont.es/allfont.css?fonts=nasalization-free);

label {
    display: block;
}
.perfil{
    margin-left: 30%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.formularioModificacion{
     margin-left: 30%; 
}
.cancelarModificacion{
    margin-left: 30%;
}

label{
    color: white;
    font-family: 'Nasalization Free';
}
.card-title{
    color: white;
    font-family: 'Nasalization Free';   
}
li{
    font-family: 'Nasalization Free';   
}