
.perfil {
    
   display: flex;
   flex-wrap: wrap;
   padding: 3em;
    
}

.foto {
    padding: 20px;
    
    max-height: 200px;
}

.datos {
    margin: 10px;
    border: 1px solid darkslategray;
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.datos p {
    padding: 10px;
    width: 100%;
}

.partidas {
    display: flex;
    flex-wrap: wrap;
    width: 46%;
}
.partidas h4 {
    width: 100%;
}

.partida {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    margin: 2%;
    
    border: 1px solid darkslategray;
}

.partida p {
    width: 100%;
}

