<mdb-carousel [interval]="3500" class="carousel slide carousel-fade" [animation]="'fade'">


    <mdb-carousel-item>
        <div class="view w-100">
            <div class="jumbotron cero" style="height: 500px;">
                <h1 class="display-4">Duo<span>Tracker</span></h1>
                <p class="lead">¿Cansado de jugar solo? </p>
                <p class="lead" style="font-size: 1.5rem;">Busca una partida y empieza hoy mismo!
                </p>

                <div class="botones back">
                    <p class="registro">
                        Registrate!
                    </p>
                    <p class="login">Inicia sesion!</p>
                </div>

            </div>

        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <div class="view w-100">
            <div class="jumbotron one" style="height: 500px;">
                <img src="../../assets/logo_carrusel/2.png" style="width: 350px; height: 200px;">
                <div class="back">
                    <p class="lead" [routerLink]="['/juego',2]">EXPLORAR PARTIDAS </p>
                </div>

            </div>
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <div class="view w-100">
            <div class="jumbotron two" style="height: 500px;">
                <img src="../../assets/logo_carrusel/1.png" style="width: 350px; height: 200px;">
                <div class="back">
                    <p class="lead" [routerLink]="['/juego',1]">EXPLORAR PARTIDAS </p>
                </div>
            </div>
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <div class="view w-100">
            <div class="jumbotron tres" style="height: 500px;">
                <img src="../../assets/logo_carrusel/0.png" style="width: 350px; height: 200px;">
                <div class="back">
                    <p class="lead" [routerLink]="['/juego',0]">EXPLORAR PARTIDAS </p>
                </div>
            </div>
        </div>
    </mdb-carousel-item>
    <!-- <div class="carousel-caption" style="width: 100%;">
        <h3 class="h3-responsive">One content for three backgrounds</h3>
    </div> -->
</mdb-carousel>