@import url(https://allfont.es/allfont.css?fonts=nasalization-free);

.form-group label{
    font-family: 'Nasalization Free';
    color: var(--color-principal);
    text-shadow: 1px 1px var(--color-secundario);
}
.card{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 75px;
}
.card-title{
    font-family: 'Nasalization Free';
    color: var(--color-principal);
    text-shadow: 1px 1px var(--color-secundario);
}
.btn-success{
    background-color: var(--color-principal);
    border: var(--color-secundario);
    font-family: 'Nasalization Free';
}
