<p>formulario-partida works!</p>
<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="container">
    <div class="form-group">
        <label>Nombre de Usuario</label>
        <input type="text" class="form-control" formControlName="usuario">
        <p class="text-danger" *ngIf="formulario.get('usuario').hasError('required') && formulario.get('usuario').touched"> El campo nombre de usuario es requerido.</p>
    </div>
    <div class="form-group">
        <label>Fecha de la partida</label>
        <input type="datetime" class="form-control" formControlName="date">
        <p class="text-danger" *ngIf="formulario.get('date').hasError('required') && formulario.get('date').touched"> El campo fecha de la partida es requerido.</p>
    </div>

    <div class="form-group">
        <label>Descripción</label>
        <input type="text" class="form-control" formControlName="descripcion">
    </div>

 <!--    <div class="form-group">
        <select name="juego" formControlName="juego" >
            <option value="SeleccionaJuego">Selecciona un juego</option>
             <option *ngFor="let juego of arrJuegos" [value]="juego.id">{{juego.nombre}}</option>
        </select>
    </div> -->

   <div class="form-group">
        <select name="modoDeJuego" formControlName="modos" >
            <option value="SeleccionaModo" >Selecciona un modo de juego</option>
            <option *ngFor="let modo of arrModos" [value]="modo.id"> {{modo.nombre}}</option>
        </select>
    </div>
 
    <div class="form-group">
        <select name="rango" formControlName="rangos">
            <option value="SeleccionaRango" [selected]="true" > Selecciona tu Rango en el juego </option>
            <option *ngFor="let rango of arrRangos" [value]="rango.id"> {{rango.rango}}</option>
        </select>
    </div> 
    <input type="submit" value="Enviar" [disabled]="!formulario.valid" class="btn btn-block btn-success">
    </div>
</form>