<!-- <div class="cont">


    <nav>
        <ul>
            <li>Registro</li>

            <li>Perfil</li>
        </ul>
    </nav>
    <img src="../../assets/images/Logotipo.jpg">
</div>
 -->


<nav class="cont">

    <div class="img">
        <img src="../../assets/images/Logotipo.jpg" [routerLink]="['home']">

    </div>

    <div class="nav">
        <ul>
            <li [routerLink]="['login']" routerLinkActive="activa">Login</li>
            <li [routerLink]="['registro']" routerLinkActive="activa">Registro</li>
            <li [routerLink]="['perfil']" routerLinkActive="activa" *ngIf='token'>Ver Perfil</li>
        </ul>
    </div>
</nav>

<!-- //*ngIf='token' -->