@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300;400;700&display=swap');
@import url(https://allfont.net/allfont.css?fonts=perfect-dark-brk);

/* :root {

    --color-principal: #fa573a;

    --color-secundario: #21242e;

    --fuente-principal: 'Spectral', serif;
} */

* {

    color:#fa573a ;
}

li{
    padding: 5%;
}

.nave {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}
nav ul {
    width: 50%;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

nav ul li {
    width: 33%;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    font-family: 'a_StamperBrk', arial;
    text-shadow: 1px 1px black;
   
}
nav ul li span {
    font-style: italic;
    text-shadow: 2px 2px black;
    font-size: 1.2em;
    padding: 3px;
    border-bottom: 1px solid #fa573a;
}
nav {
    margin-bottom: 10%;
}

nav ul li.li-nav:hover {
    transition: 1s;
    background-color: #fa573f;
    color: #21242e;
    cursor: pointer;
}

.logo {
    font-family: 'Perfect Dark (BRK)', arial;
    font-size: 2.3em;
    width: 40%;
    text-align: center;
    margin-left: 5em;
    text-shadow: 1px 1px white;
    
}
.logo:hover {
    background-color: #fa573a;
}

button span {
    color: white;
}
button span:hover {
    color: #fa573f;
}