@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300;400;700&display=swap');
@import url(https://allfont.net/allfont.css?fonts=perfect-dark-brk);

/* :root {

    --color-principal: #fa573a;

    --color-secundario: #21242e;

    --fuente-principal: 'Spectral', serif;
} */

* {

    color:#fa573a ;
}
body {
    font-family: 'Spectral', serif;
}

li{
    padding: 5%;
}

/* ul {
    margin: 0;
    padding: 3%;
}


nav {
    display: flex;
    flex-direction: row;
    height: 75px;
}

nav div {
    width: 100%;
    background-color: #21242e;
    display: flex;
    
}

nav .nav{
    justify-content: right;
}
.nav ul li {
    display: inline-block;
    padding: 15px;
   margin-left: 50px;
    height: 55px;
    color: #fa573f;

}
.nav ul li.li-nav:hover {
    transition: 1s;
    background-color: #fa573f;
    color: #21242e;
    cursor: pointer;
}

nav .img {
    justify-content: right;
}
.img img {
    height: 150px;
   
    cursor: pointer;
}
.img img:hover {
    transition: 1.5s;
    transform: skew(-10deg);
    
}
li.activa {
    background-color: lightgray;
}

.hero{
    background-image: url(https://marmotagamex.com/wp-contenido/uploads/2016/02/Multiplayer.jpg);
    background-size: cover;
    background-position: center center;
    background-color:#777;
    background-blend-mode: multiply;
    height: 30em;
}

.hero > div {
    color: white;
    padding: 10% 3%;
}
.hero h1{
    font-size: 2.5em;
    color: var(--color-principal);
}
span{
    color:white;
} */
.nave {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}
nav ul {
    width: 50%;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

nav ul li {
    width: 33%;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
   
}
nav ul li span {
    font-family: ;
}
nav {
    margin-bottom: 10%;
}

nav ul li.li-nav:hover {
    transition: 1s;
    background-color: #fa573f;
    color: #21242e;
    cursor: pointer;
}

.logo {
    font-family: 'Perfect Dark (BRK)', arial;
    font-size: 2.3em;
    width: 40%;
    text-align: center;
    margin-left: 5em;
    text-shadow: 1px 1px white;
    
}
.logo:hover {
    background-color: #fa573a;
}

button span {
    color: white;
}
button span:hover {
    color: #fa573f;
}