 @import url(https://allfont.es/allfont.css?fonts=nasalization-free); 
@import url(https://allfont.es/allfont.css?fonts=a_stamperbrk);

*{
    font-style: 'Spectral', serif;
}

body {
    background-image: url("https://cdn.hipwallpaper.com/i/8/66/i4Ek1A.jpg");
}

p {

    font-family: 'a_StamperBrk', arial;
    color: #fa573a;
    font-size: 2em;

}

.fecha {

    font-size: 4em;
    text-shadow: 1px 1px black;
    font-style: italic;
    
}

.detalle {
    display: block;
    margin-top: 50px;

}

.detalle:hover {
    transition: 1s;
    cursor: pointer;
    background-color: #fa573a;
    color:#21242e;
    box-shadow: 2px 4px antiquewhite;
}

.ext {
    font-size: 1.5rem;
}

.player {
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 50px;
}
.partida {
    color: antiquewhite;
    border: 7px solid #fa573a;
    box-shadow: 1px 2px black;
    margin: 20px;
    padding: 20px 10px;
    
}

.titulos {
    text-align: center;
}
.titulos h2{
    color: #fa573a;
    font-family: 'a_StamperBrk', arial;
    font-size: 4em;
    text-shadow: 1px 1px black;
}

.filtros {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filtro {

    margin: 20px;
    padding: 10px;

}

.filtro select{

    padding: 15px;
    margin: 10px;
    background-color: #21242e;
    border: 1px solid #fa573a;
    color: #fa573a;
}

.filtro select:hover {
    background-color: #fa573a;
    color: #21242e;
}

.botonMostrar {

    border: 1px solid #fa573a;
    padding: 10px;
    background-color:rgba(241, 135, 35, 0.336); 
}

.botonMostrar:hover {
    cursor: pointer;
    background-color: #fa573a;
    color: #21242e;
}

.botones {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    
}
.boton {
    width: 40%;
    text-align: center;

}
.boton button {
    background-color: transparent;
    border: 0px;
}

.crear {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
}
.headerJuego{
    margin-left: 0px;
    margin-left: 15px;
    padding-left: 10px;
}
.headerFecha{
    margin-left: 15px;
}
.headerModo{
    margin-left: 15px;
}
.headerUser{
    margin-left: 0px;
}
.headerRango{
    margin-left: -30px;
}
h4{
    padding:20px 45px;
    font-size: 18px;
}
/* img{
    width: 100;
} */


.col-xs-12{
    width: 100%;
}
.col-xs-2{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.btn{
    padding: 0px;
}
/* .row-adaptable{
    display: table;
    width: 100%;
    table-layout: fixed;
    height: 100%;
} */
div img .foto{
    width: 70%;
    margin-top: 2em;
    border: 2px solid #21242e;
    border-radius: 50%;
    box-shadow: 5px 10px #21242e;
}
   div img{
    width: 15%;
}  

div img:hover{
    transition: 2s;
    scale: 1.05;
    cursor: pointer;
}
 .row {
    justify-content: center;
} 



.buttons {

    margin-top: 1em;
    
    
}
button:hover {
    transition: 1s;
    border: 2px solid #fa573a;
    background-color: #21242e;
    color: #fa573a;
    cursor: pointer;
    box-shadow: 5px 10px #21242e;
}

.games div {
    border: 1px solid black;

    height: 150px;
    width: 200px;

    margin: 30px;
}
.hero img{
    
    background-size: cover; 
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat; 
    background-position: center center; 
     height: 40em;
    width: 100%; 
}
h3{
    margin-left: 60px;
    margin-top: 20px;
}
/* .todasPartidas{
    margin-top: 50px;
} */
.recientes{
    margin-top: 35px;
    font-size: 25px;
}
.content-col img{
    width: 120px;
    margin-top: 20px;
}

.item-col-modo{
    margin-left: -0px;
    margin-top: -25px;

}
.content-col-rango{
    margin-top: -42.5px;
    margin-left: 315px;
}
.usuariocreador{
    margin-top: -25px;
    margin-left: 220px;
}
.boton p{
    margin-left: 265px;
    margin-top: 50px;
    border: 1px solid black;
    text-align: center;
}
.boton button{
    width: 25%;
    margin-left: 265px;
    margin-top: -250px;
}
.botonic {
    display: inline-block;
    background-color: var(--color-principal);
    color: white;
    padding: 1.15em;
    text-decoration: none;
    margin: 1em 0;
    border: 1px solid var(--color-principal);
}

.verde{
    color: green;
}
.rojo{
    color: red;
}
.select select{
    margin:15px 15px;
}
.cajaPartidas{
    margin-bottom: 10px;
}
.select select option{
    font-family: 'Nasalization Free';
} 