*{
    font-style: 'Spectral', serif;
}

body {
    background-image: url("https://cdn.hipwallpaper.com/i/8/66/i4Ek1A.jpg");
}
div img .foto{
    width: 70%;
    margin-top: 2em;
    border: 2px solid #21242e;
    border-radius: 50%;
    box-shadow: 5px 10px #21242e;
}
div img{
    width: 15%;
}

div img:hover{
    transition: 2s;
    scale: 1.05;
    cursor: pointer;
}
.row {
    justify-content: center;
}

.col-6 {
    text-align: center;
}

div button {
    width: 100%;
    padding: 20px;
}
.buttons {

    margin-top: 5em;
    
    
}
button:hover {
    transition: 1s;
    border: 2px solid #fa573a;
    background-color: #21242e;
    color: #fa573a;
    cursor: pointer;
    box-shadow: 5px 10px #21242e;
}

.games div {
    border: 1px solid black;

    height: 150px;
    width: 200px;

    margin: 30px;
}