<div class="container">
    <div class="row">
        
        <img class="foto" 
            [src]="">
        
    </div>

    <div class="row buttons">
        <div class="col-3">

            <button class="btn" [routerLink]="['crear']" routerLinkActive="activa">
                Crear Partida
            </button>
           <!--  <button class="btn" [routerLink]="['/home', idJuego, 'crear']" routerLinkActive="activa"> -->
        </div>
        <div class="col-6">

            <button class="btn">
                Partidas recientes
            </button>

        </div>
        <div class="col-3">

            <button class="btn">
                Unirse a partida
            </button>

        </div>
    </div>
    <div>
        <div class="wrapper">
            
            <h4 class="headerJuego">Juego</h4>
                   
            <h4 class="headerFecha">Fecha</h4>
                   
            <h4 class="headerModo">Modo de juego</h4>
                   
            <h4 class="headerUser">Usuario creador</h4>
                   
            <h4 class="headerRango">Rango</h4>
              
        </div> 
            
    </div>
    <div class="col-xs-12" *ngFor="let partida of arrPartidas">
        <div class="list-group-item">
            <div class="row">
                <div class="col">
                    <div class="item-col">
                        <div class="content-col">
                            <img [src]="partida.imagen_juego" alt="">
                            <p><span>{{partida.nombre_juego}}</span></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item-col">
                        <div class="content-col fecha">{{partida.fecha}}</div>
                    </div>
                </div>
                <div class="col">
                    <div class="item-col">
                        <div class="item-col">
                            {{partida.nombre_modo}}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <i class="bi bi-file-person-fill" style="font-size: 2rem; color: cornflowerblue;"></i>
                    <div>{{partida.fk_usuario}}</div>
                </div>
                <div class="col">
                    <div class="item-col">
                        <div class="content-col">
                            {{partida.rango}}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <button class="btn btn-info">Ver detalle</button>
                </div>
            </div>
        </div>
    </div>
</div>