<div class="container">
    <div class="row">

        <img
            src="https://esports.as.com/2019/09/07/league-of-legends/pantalla-inicio-cliente-League-Legends_1279981992_253561_1440x600.jpg">

    </div>

    <div class="row buttons">
        <div class="col-3">

            <button class="btn" [routerLink]="['crear']" routerLinkActive="activa">
                Crear Partida
            </button>
           <!--  <button class="btn" [routerLink]="['/home', idJuego, 'crear']" routerLinkActive="activa"> -->
        </div>
        <div class="col-6">

            <button class="btn">
                Partidas recientes
            </button>

        </div>
        <div class="col-3">

            <button class="btn">
                Unirse a partida
            </button>

        </div>
    </div>

    <div class="row games">
        <div class="col4">game 1</div>
        <div class="col4">game 2</div>
        <div class="col4">game 3</div>

    </div>
</div>