<div class="container">
    <div class="partida">
        <p>descripción: {{partidaSeleccionada?.descripcion}}</p>
        <p>idjuego: {{partidaSeleccionada?.id_juego}}</p>
        <p>Fecha: {{partidaSeleccionada?.fecha}}</p>
        <p>Juego: {{partidaSeleccionada?.nombre_juego}}</p>
        <p>Rango: {{partidaSeleccionada?.rango}}</p>
        <p>Creador: {{partidaSeleccionada?.username}}</p>
        <p>{{partidaSeleccionada?.imagen_juego}}</p>
        <p>{{partidaSeleccionada?.logo_juego}}</p>
        <p>Jugadores: {{partidaSeleccionada?.cantidad_jugadores}} / {{partidaSeleccionada?.numero_jugadores}}</p>


        <h4 *ngFor="let jugador of jugadores">
            {{jugador?.username}}
            <!--  -->
        </h4>



        <button (click)="onClick()">UNIRSE</button>









    </div>