@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300;400;700&display=swap');
@import url(https://allfont.es/allfont.css?fonts=a_stamperbrk);

.juegos {
  display: flex;
  flex-wrap: wrap;
}

.juego {
  margin: 2%;
}

.juego img {
  width: 300px;

  height: 450px;

  border: 1px solid #fa573a;
  
  opacity: 0.85;
}

.juego img:hover {
transition: 1s;
opacity: 1;
  scale: 1.1;
  box-shadow: 4px 4px black;
  cursor: pointer;

}

h1 {
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-family: 'a_StamperBrk', arial;
  color: antiquewhite;
  font-size: 5em;
  text-shadow: 4px 7px #fa573a;
  border-bottom: 2px double #fa573a;
}

/* body, html {
    height: 100%;
} */

/* The hero image */
/* .hero-imagen{
  
  background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),   url("https://fondosmil.com/fondo/32310.jpg");  
  /* height: 100%; */
/*   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
} */


/* .hero-texto {
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: grey;
} */ 

